.background {
    min-height: 100vh;
    padding-bottom: 5%;
    margin-bottom: 0px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
    background: url('../intro-bg.jpg') no-repeat center;
}

.banner_content {
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 44%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left:6%;
    padding-right:6%;
}

.card-wrapper {
    width: 400px;
    margin: auto;
    margin-top: 150px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }