body{
    background-color: rgb(232, 240, 240);
}

.background {
    min-height: 100vh;
    padding-bottom: 5%;
    margin-bottom: 0px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
    background: url('../intro-bg.jpg') no-repeat center;
}

.banner_content {
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 44%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left:6%;
    padding-right:6%;
}

.card-wrapper {
    width: 400px;
    margin: auto;
    margin-top: 150px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
    color: white;
    text-align: center;
}

.dropdown-item {
    color: rgba(255,255,255,.5);
}

.animates {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
  
@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
@-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

  :root{
    --tran: all 0.3s linear;
}
.btn{
    position: relative;
    transition: var(--tran);
    overflow: hidden;
    z-index: 1;
}
.btn::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    background-color:  forestgreen;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: var(--tran);
}
.btn:hover:before{
    transform: translateX(0);
    z-index: -1;
}
.btn:hover{
    color: #fff;
}